#include("/WEB-INF/view/common/qui/header.html")

<!-- 树组件start -->
<script type="text/javascript" src="/libs/js/tree/ztree/ztree.js"></script>
<link type="text/css" rel="stylesheet" href="/libs/js/tree/ztree/ztree.css"></link>
<!-- 树组件end -->

<!-- 树形下拉框start -->
<script type="text/javascript" src="/libs/js/form/selectTree.js"></script>
<!-- 树形下拉框end -->

<!-- 表单验证start -->
<script src="/libs/js/form/validationRule.js" type="text/javascript"></script>
<script src="/libs/js/form/validation.js" type="text/javascript"></script>
<!-- 表单验证end -->

<!-- 日期选择框start -->
<script type="text/javascript" src="/libs/js/form/datePicker/WdatePicker.js"></script>
<!-- 日期选择框end -->

<script type="text/javascript" src="/libs/js/myjs/jquery.form.js"></script>
</head>
<body>
<div class="box1" overflow="true" panelHeight="250" id="formContent" whiteBg="true">
	<form id="myFormId" onsubmit="return false;" method="post">
	<table class="tableStyle" formMode="transparent">
	
				<input type='hidden' name='certificate.ID'
					value='#(certificate.ID ??)' />
				<input type='hidden' name='certificate.SUPPLIER_ID'
					value='#(fatherId ??)' />
				<tr>
					<td style="width: 190px">编号：</td>
					<td><input type='text' name='certificate.NO'
						value='#(certificate.NO ??)' class='validate[required,length[0,30]]'/><span class='star'>*</span></td>
				</tr>
				<tr>
					<td>名称：</td>
					<td><input type='text' name='certificate.NAME'
						value='#(certificate.NAME ??)' class=''/></td>
				</tr>
				<tr>
					<td>内容：</td>
					<td><input type='text' name='certificate.CONTENT'
						value='#(certificate.CONTENT ??)'  class=''/></td>
				</tr>
				<tr>
					<td>证书有效期(起始日期)：</td>
					<td><input type='text' class="date" name='certificate.START_TIME'
						value='#(certificate.START_TIME ??)'  class=''/></td>
				</tr>
				<tr>
					<td>证书有效期(终止日期)：</td>
					<td><input type='text' class="date" name='certificate.END_TIME'
						value='#(certificate.END_TIME ??)' class=''/></td>
				</tr>
				<tr>
					<td>发证单位：</td>
					<td><input type='text' name='certificate.UNIT'
						value='#(certificate.UNIT ??)' class=''/></td>
				</tr>
				<tr>
					<td>证书类别：</td>
					<td>
					<select url="/cersort/ZslblList"
							prompt="请选择" name="certificate.ZSLB" selectedValue="#(certificate.ZSLB ?? )"></select>
					</td>
				</tr>
				
				<!-- <tr>
					<td>物资编码：</td>
					<td><input type='text' name='certificatesupcode.CODE'
						value='#(certificatesupcode.CODE ??)' class=''/></td>
					<td>
					<input type='text' name='certificatesupcode.CODE' style="height: 100px;"
						value='#(certificatesupcode.CODE ??)' class=''/>
						<textarea name="certificatesupcode.CODE" style="width: 150px;" watermark="物资编码格式：物资编码之间以','隔开">#(codes ??)</textarea>
					</td>
				</tr> -->
				<tr>
					<td>证书信息：</td>
					<td>
					<textarea name="certificate.ZSXX" style="width: 152px;">#(certificate.ZSXX ??)</textarea>
					</td>
				</tr> 
				
				<tr>
					<td>证书照片：</td>
				</tr> 
				<tr>
				<td>
					<img id="uploadpicId0"  src="#(certificate.ZSZP ??)" alt="" style="width: 100px;"/>
					<img id="uploadpicId1"  src="#(certificate.ZSZP2 ??)" alt="" style="width: 100px;"/>
					<img id="uploadpicId2"  src="#(certificate.ZSZP3 ??)" alt="" style="width: 100px;"/>
				</td> 
				<td>
				
					<input  type='file' name='images' multiple="multiple" onchange="uploadPic()" />
					
					<input id="swzp0" type="hidden" name="certificate.ZSZP" value="#(certificate.ZSZP ??)">
					<input id="swzp1" type="hidden" name="certificate.ZSZP2" value="#(certificate.ZSZP2 ??)">
					<input id="swzp2" type="hidden" name="certificate.ZSZP3" value="#(certificate.ZSZP3 ??)">
				</td>
				</tr>
		<tr>
			<td colspan="2">
				<button onclick="submitHandlerSon()">提交</button>
				<input type="button" value="取消" onclick='top.Dialog.close()'/>
			</td>
		</tr>
	</table>
	</form>
</div>
<!-- 异步提交start -->
<script type="text/javascript">
function submitHandlerSon() {
	var valid = $('#myFormId').validationEngine({returnIsValid: true});
	if(valid){
		$.post("/certificate/save", $('#myFormId').serializeArray(), function(data) {
			top.Dialog.alert(data.message, function(){
            	if(!data.content){		            		
	            	closeWin();
            	} else {
            		top.Dialog.alert(data.content);
            	}
            })
		});
	 }else{
		    top.Dialog.alert('表单填写不正确，请按要求修改红色框内容!');
		} 
}
function initComplete(){
    //初始化
	//selectUnit(document.getElementById("id_unit_input"));
}
//重置
function closeWin(){
	var update = false;
	var isupdate = '#(certificate ??)';
	if(isupdate != ''){
		update = true;
	}else{
		update = false;
	}
	//刷新数据
	top.frmright.refreshSon(update);
	//关闭窗口
	top.Dialog.close();
}
<!-- 异步提交end -->	

function uploadPic(){
	var picoption = { 
		 type: "post",  //提交方式  
		 dataType: "json", //数据类型  
		 url:"/certificate/uploadPic",//默认是form action
		 success:function(data){
			for(var x = 0;x<data.length;x++){
				if(data[x].error == 0 ){
					var imsrc = "#uploadpicId"+x;
					var hisrc = "#swzp"+x;
					$(imsrc).attr("src",data[x].src);
					$(hisrc).val(data[x].src);
					}else{
						top.Dialog.alert(data.message);
					}
				}
			},
		  error : function(data, status) {
		   			top.Dialog.alert(data.message);
		        }
		};
			/* 
		success:function(data){
			if(data.error == 0 ){
				console.log(data)
				$("#uploadpicId").attr("src",data.src);
				$("#swzp").val(data.src);
				}else{
					top.Dialog.alert(data.message);
				}
			},
	    error : function(data, status) {
	    			top.Dialog.alert(data.message);
	        }
		} */
		$("#myFormId").ajaxSubmit(picoption);
	}
</script>
	
</body>	
</html>