#include("/WEB-INF/view/common/qui/header.html")
</head>
<body>
	<div class="box1"  overflow="true" panelHeight="450" id="formContent" whiteBg="true">
	<table class="tableStyle" formMode="view" style="height: 500">
			<tr>
				<td width="50%">供应商编号</td>
				<td>#(supplier.GYSBH ??)</td>
			</tr>
			<tr>
				<td>社会信用代码</td>
				<td>#(supplier.SHXYDM ??)</td>
			</tr>
			<tr>
				<td>营业执照注册号</td>
				<td>#(supplier.YYZZZCH ??)</td>
			</tr>
			<tr>
				<td>企业名称</td>
				<td>#(supplier.QYMC ??)</td>
			</tr>
			<tr>
				<td>法定代表人</td>
				<td>#(supplier.FDDBR ??)</td>
			</tr>
			<tr>
				<td>法定代表人电话</td>
				<td>#(supplier.FDDBRDH ??)</td>
			</tr>
			<tr>
				<td>所属省</td>
				<td>#(supplier.SSS ??)</td>
			</tr>
			<tr>
				<td>所属市</td>
				<td>#(supplier.SSS1 ??)</td>
			</tr>
			<tr>
				<td>住所</td>
				<td>#(supplier.ZS ??)</td>
			</tr>
			<tr>
				<td>注册资本</td>
				<td>#(supplier.ZCZB ??)</td>
			</tr>
			<tr>
				<td>成立日期</td>
				<td>#(supplier.CLRQ ??)</td>
			</tr>
			<tr>
				<td>营业期限</td>
				<td>#(supplier.YYQX ??)</td>
			</tr>
			<tr>
				<td>企业类型</td>
				<td>#(supplier.QYLX ??)</td>
			</tr>
			<tr>
				<td>组织机构代码</td>
				<td>#(supplier.ZZJGDM ??)</td>
			</tr>
			<tr>
				<td>税务登记号</td>
				<td>#(supplier.SWDJH ??)</td>
			</tr>
			<tr>
				<td>有效期</td>
				<td>#(supplier.YXQ ??)</td>
			</tr>
			<tr>
				<td>业务联系人</td>
				<td>#(supplier.YWLXR ??)</td>
			</tr>
			<tr>
				<td>联系人手机</td>
				<td>#(supplier.LXRSJ ??)</td>
			</tr>
			<tr>
				<td>办公传真</td>
				<td>#(supplier.BGCZ ??)</td>
			</tr>
			<tr>
				<td>办公电话</td>
				<td>#(supplier.BGDH ??)</td>
			</tr>
			<tr>
				<td>联系人邮箱</td>
				<td>#(supplier.LXRYX ??)</td>
			</tr>
			<tr>
				<td>联系人职务</td>
				<td>#(supplier.LXRZW ??)</td>
			</tr>
			<tr>
				<td>办公地址</td>
				<td>#(supplier.BGDZ ??)</td>
			</tr>
			<!-- <tr>
				<td>资质证书</td>
				<td>#(supplier.ZZZS ??)</td>
			</tr> -->
			<tr>
				<td>不良供应商处罚周期</td>
				<td>#(supplier.BLGYSCFZQ ??)</td>
			</tr>
			<tr>
				<td>黑名单</td>
				<td>#(supplier.HMD ??)</td>
			</tr>
						<tr>
				<td>供应商信用等级评价</td>
				<td>#(supplier.BLGYSXYPJDJ ??)</td>
			</tr>
			<!-- <tr>
				<td>供应商经营范围</td>
				<td>#(supplier.GYSJYFW ??)</td>
			</tr> -->
			<tr>
				<td>供应商分类</td>
				<td>#(supplier.GYSFL ??)</td>
			</tr>
			<tr>
				<td>供应商企业性质</td>
				<td>#(supplier.GYSQYXZ ??)</td>
			</tr>
			<tr>
				<td>营业执照照片</td>
				<td><img src="#(supplier.YYZZZP ??)" style="width: 100px;"></td>
			</tr>
			<!-- <tr>
				<td>ID</td>
				<td>#(supplier.ID ??)</td>
			</tr> -->
			<tr>
				<td>录入时间</td>
				<td>#(supplier.ENTRY_TIME ??)</td>
			</tr>
			<!-- <tr>
				<td>资质证书ID</td>
				<td>#(supplier.CERTIFICATE_ID ??)</td>
			</tr> -->
		</table>
	</div>
</body>
</html>