#include("/WEB-INF/view/common/qui/header.html")
</head>
<body>
	<div class="box1"  overflow="true" panelHeight="400" id="formContent" whiteBg="true">
	<table class="tableStyle" formMode="view" style="height: 300">
			<tr>
				<td width="50%">企业名称</td>
				<td>#(cersuppliestemplate.QYMC2 ??)</td>
			</tr>
			<tr>
				<td>物资类别</td>
				<td>#(cersuppliestemplate.LB ??)</td>
			</tr>
			<tr>
				<td>证书类别</td>
				<td>#(cersuppliestemplate.ZSLB2 ??)</td>
			</tr>
			<tr>
				<td>物资编码</td>
				<td>#(cersuppliestemplate.WZBM ??)</td>
			</tr>
			<tr>
				<td>物资名称</td>
				<td>#(cersuppliestemplate.WZMC ??)</td>
			</tr>
			<tr>
				<td>规格型号</td>
				<td>#(cersuppliestemplate.GGXH ??)</td>
			</tr>
			<tr>
				<td>计量单位</td>
				<td>#(cersuppliestemplate.JLDW ??)</td>
			</tr>
			<tr>
				<td>实物图片</td>
				<td><img src="#(cersuppliestemplate.SWTP ??)" style="width: 100px;"></br>
				<img src="#(cersuppliestemplate.SWTP2 ??)" style="width: 100px;"></br>
				<img src="#(cersuppliestemplate.SWTP3 ??)" style="width: 100px;"></td>
			</tr>
			<tr>
				<td>备注</td>
				<td>#(cersuppliestemplate.BZ ??)</td>
			</tr>
		</table>
	</div>
</body>
</html>