#include("/WEB-INF/view/common/qui/header.html")
</head>
<body>
	<div class="box1" overflow="true" panelHeight="550" id="formContent" whiteBg="true">
	<table class="tableStyle" formMode="view">
		<tr><th colspan="2">详细信息</th></tr>
		<tr><td width='20%'>包件号</td><td width='30%'>#(quote.BJH ??)</td></tr>
		<tr><td width='10%'>物资编码</td><td width='30%'>#(quote.WZBM ??)</td></tr>
		<tr><td width='10%'>物资名称</td><td width='30%'>#(quote.WZMC ??)</td></tr>
		<tr><td width='10%'>规格型号</td><td width='30%'>#(quote.GGXH ??)</td></tr>
		<tr><td width='10%'>技术要求</td><td width='30%'>#(quote.JSYQ ??)</td></tr>
		<tr><td width='10%'>计量单位</td><td width='30%'>#(quote.JLDW ??)</td></tr>
		<tr><td width='10%'>预测数量</td><td width='30%'>#(quote.YCSL ??)</td></tr>
		<tr><td width='10%'>单价限价(不含税）</td><td width='30%'>#(quote.DJXJ_BHS ??)</td></tr>
		<tr><td width='10%'>总限价（不含税）</td><td width='30%'>#(quote.ZXJ_BHS ??)</td></tr>
		<tr><td width='10%'>使用单位及地区</td><td width='30%'>#(quote.SYDWJDQ ??)</td></tr>
		<tr><td width='10%'>厂商报单价(不含税）</td><td width='30%'>#(quote.CSBDJ_BHS ??)</td></tr>
		<tr><td width='10%'>厂商报总限价（不含税）</td><td width='30%'>#(quote.CSBZXJ_BHS ??)</td></tr>
		<tr><td width='10%'>录入时间</td><td width='30%'>#(quote.ENTRY_TIME ??)</td></tr>
	</table>
	</div>
</body>
</html>