#include("/WEB-INF/view/common/qui/header.html")
</head>
<body>
	<div class="box1"  overflow="true" panelHeight="400" id="formContent" whiteBg="true">
	<table class="tableStyle" formMode="view" style="height: 300">
			<tr>
				<td width="50%">类别</td>
				<td>#(suppliestemplate.LB ??)</td>
			</tr>
			<tr>
				<td>物资编码</td>
				<td>#(suppliestemplate.WZBM ??)</td>
			</tr>
			<tr>
				<td>物资名称</td>
				<td>#(suppliestemplate.WZMC ??)</td>
			</tr>
			<tr>
				<td>规格型号</td>
				<td>#(suppliestemplate.GGXH ??)</td>
			</tr>
			<tr>
				<td>计量单位</td>
				<td>#(suppliestemplate.JLDW ??)</td>
			</tr>
			<tr>
				<td>实物图片</td>
				<td><img src="#(suppliestemplate.SWTP ??)" style="width: 100px;"></br>
				<!-- <img src="#(suppliestemplate.SWTP2 ??)" style="width: 100px;"></br>
				<img src="#(suppliestemplate.SWTP3 ??)" style="width: 100px;"> --></td>
			</tr>
			<tr>
				<td>备注</td>
				<td>#(suppliestemplate.BZ ??)</td>
			</tr>
		</table>
	</div>
</body>
</html>